.sidebarContent{
    margin-bottom: 10px;
    min-height: 150px;
    background-color: silver;
    text-align: center;
    font-size: large;
}
.mainContent{
    margin-bottom: 10px;
    min-height: 310px;
    background-color: silver;
    text-align: center;
    font-size: large;
}
/*.customDiv{
    margin-bottom: 3px;
    min-height: 300px;
    background-color: aqua;
    text-align: center;
    font-size: large;
}*/
